.app {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.product-card {
  border: 1px solid #ccc;
  width: 250px;
  margin: 20px auto;
  padding: 15px;
  border-radius: 6px;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

button {
  padding: 5px 10px;
  cursor: pointer;
}